# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# m
public/assets/*
.vagrant/*
chef/cookbooks/*
chef/tmp/*
*.sublime-workspace
Gemfile.lock
