<% content_for :head do %>
<%= stylesheet_link_tag 'tasks', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :title do %>
<span data-translate="my_tasks">My tasks</span>
<% end %>


<%= render partial: "tasks/task_table", locals: { tasks: @task_list, editable: false} %>
