<!-- top navbar -->
<div id="navigation-bar" class="ui-mid-gray">
	<%= link_to logout_path do%>
	<span id="navigation-bar-logout" class="glyphicon glyphicon-remove navigation-bar-icon hoverable"></span>
	<% end %>

	<%= link_to settings_path do %>
		<span id="navigation-bar-settings" class="glyphicon glyphicon-cog navigation-bar-icon hoverable"></span>
	<% end %>
	
	<%= image_tag "avatar2.jpg", { id: "navigation-avatar", class: "navigation-bar-icon"} %>
	<%#
	<img src="{{ STATIC_URL }}imgs/lang/gb.png" id="lang-en" class="navigation-bar-icon lang-icon">
	<img src="{{ STATIC_URL }}imgs/lang/pl.png" id="lang-pl" class="navigation-bar-icon lang-icon">
	%>

	<span id="brand" class="left-panel-size">Tasker</span>
</div>